
  @import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Fredoka+One&family=Montserrat:ital,wght@1,300&family=Unbounded:wght@200&display=swap');

  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (max-width:800px){
  nav{
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: #e3d5ca;
    padding-bottom: 110px;
  }
  main{
    height: 2000px;
    background-color: #d5bdaf;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  footer{
    background-color: #d6ccc2;
  }
  .container-fluid{
    background-color: #e3d5ca;
  }
  .navbar{
    list-style-type: none;
  }
  .nav-link{
    text-decoration: none;
    margin-left: 20px;
    color: black;
  }
  .index_grande{
    display: flex;
    display: inline-block;
    text-align: center;
  }
  .index_chico{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
  }
  h1{
    margin-top: 80px;
  }
  h2{
    margin-top: 40px;
  }
  h3{
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  .titulo_educacion{
    display: flex;
    justify-content: center;
  }
  .contenido_educacion{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
  }
  .fotos_lista_contacto{
    width: 30px;
    margin-top: 10px;
    margin-right: 15px;
  }
  .elemento_lista_contacto{
    list-style-type: none;
    margin-top: 10px;
  }
  .a_contacto{
    margin-right: 0px;
    text-decoration: none;
    color: black;
  }
  .contacto_grande{
    margin-left: 80px;
    margin-top: 60px;
  }
  .titulo_proyectos{
    display: flex;
    justify-content: center;
  }
  .texto_fotos_proyectos{
    display: none;
  }
  .fotos_proyecto{
    width: 70%;
    display: flex;
    justify-content: center;
  }
  .texto_fotos_proyectosONIET{
    display: none;
  }
  .fotos_proyectoONIET{
    width:130%;
    
  }
  .contenedor_imagen{
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
  .contenedor_imagenONIET{
    display: flex;
    justify-content: center;
    margin-top: 60PX;
  }
}

@media (min-width:801px) and (max-width:1024px){
  nav{
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: #e3d5ca;
    padding-bottom: 110px;
  }
  main{
    height: 2000px;
    background-color: #d5bdaf;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  footer{
    background-color: #d6ccc2;
  }
  .container-fluid{
    background-color: #e3d5ca;
  }
  .navbar{
    list-style-type: none;
  }
  .nav-link{
    text-decoration: none;
    margin-left: 20px;
    color: black;
  }
  .index_grande{
    display: flex;
    display: inline-block;
    text-align: center;
  }
  .index_chico{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
  }
  h1{
    margin-top: 80px;
  }
  h2{
    margin-top: 40px;
  }
  h3{
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  .titulo_educacion{
    display: flex;
    justify-content: center;
  }
  .contenido_educacion{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
  }
  .fotos_lista_contacto{
    width: 30px;
    margin-top: 10px;
    margin-right: 15px;
  }
  .elemento_lista_contacto{
    list-style-type: none;
    margin-top: 10px;
  }
  .a_contacto{
    margin-right: 0px;
    text-decoration: none;
    color: black;
  }
  .contacto_grande{
    margin-left: 80px;
    margin-top: 60px;
  }
}



















@media (min-width:1024px){
nav{
  display: flex;
  justify-content: center;
  height: 70px;
  background-color: #e3d5ca;
  padding-bottom: 110px;
}
main{
  height: 2000px;
  background-color: #d5bdaf;
  padding-top: 30px;
  padding-bottom: 50px;
}
footer{
  background-color: #d6ccc2;
}
h1{
  margin: 0px;
  font-family: 'Montserrat', bold;
  margin-left: 80px;
  padding-top: 60px;
}
h2{
  font-family: 'Montserrat', bold;
  margin-left: 60px;
  margin-right: 40px;
  padding-top: 20px; 
  width: auto;
}
.texto_camion{
  font-family: 'Montserrat', bold;
  margin-left: 100px;
  padding-top: 40px; 
  width: 1200px;
}
.titulo_educacion{
  margin-top: 100px;
}
.foto_mauro{
  width: 600px;
  height: 700px;
}

h3{
  font-family: 'Montserrat', bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
.contenido_educacion{
  font-family: 'Montserrat', bold;
  font-size: 20px;
  width: auto;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 80px;
}
.navbar{
  display: inline-flex;
  list-style-type: none;
  margin-block: auto;
}
li{ 
  margin-block: auto;
  margin-left: 20px;
  font-family: 'Montserrat', bold;
}
li:hover{
  text-decoration: underline;
  font-size: 110%;
}
a{
  text-decoration: none;
  color: black;
}

.index_grande{
  display: inline-block;
}
.index_chico{
  display: inline-flex;
  padding-left: 100px;
  margin-top: 40px; 
}
.proyectos{
  display: flex;
  justify-content: center;
}
.contenedor_imagen{
  width: 400px;
  height: 600px;
  background-color: black;
  margin-left: 30px;
  display: inline-flex;
}
.contenedor_imagenONIET{
  width: 40%;
  height: 350px;
  background-color: black;
  margin-left: 40px;
  display: inline-flex;
}
.texto_fotos_proyectos{
  font-family: 'Montserrat', bold;
  color: white;
  text-align: center;
  margin-top: 250px;
 margin-left: 10px;
}
.fotos_proyecto{
  width: 400px;
  height: 600px; 
  position: absolute;
  transition: 0.5s;
}
.fotos_proyecto :hover{
  opacity: 0;
}
.fotos_proyectoONIET{
  width: 102.6%;
  height: auto;
  position: absolute;
  transition: 0.5s;
}
.texto_fotos_proyectosONIET{
  font-family: 'Montserrat', bold;
  color: white;
  margin-top: 200px;
  margin-left: 60px;
}

.imagenes_proyecto_camion{
  display: flex;
  margin-top: 40px;
  padding-bottom: 40px;
}
.imagenes_camion{
  display: inline-flex;
  width: 300px;
  margin-left: 50px;
  height: 500px;
}
.imagen_camion_horizontal{
  width: auto; 
  height: 300px;
  margin-left: 50px;
  margin-top: 100px;
  
}
.boton_volver{
  margin-left: 100px;
  margin-bottom: 40px;
  width: 80px;
  height: 25px;
  background-color: #9caea9;
  border-color: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 1px, 1px black;
}
.titulo_proyectos{
  margin-bottom: 30px;
}
.elemento_lista_contacto{
  list-style-type: none;
  margin-left: 80px;
  font-family: 'Montserrat', bold;
}
.fotos_lista_contacto{
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-top: 20px;
}
.contacto_chico{
  margin-top: 20px;
  margin-left: 40px;
}
}
