
 
  @import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Fredoka+One&family=Montserrat:ital,wght@1,300&family=Unbounded:wght@200&display=swap');

  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
  display: flex;
  justify-content: center;
  height: 70px;
  background-color: #9caea9;
  padding-bottom: 110px;
}
h1{
  margin: 0px;
  font-family: 'Montserrat', bold;
  margin-left: 80px;
  padding-top: 60px;
}
h2{
  font-family: 'Montserrat', bold;
  margin-left: 100px;
  padding-top: 40px; 
  width: 600px;
}
h3{
  font-family: 'Montserrat', bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #9caea9;
}
p{
  font-family: 'Montserrat', bold;
  font-size: 20px;
  width: 1100px;
  margin-top: 30px;
  margin-left: 100px;
}
.navbar{
  display: inline-flex;
  list-style-type: none;
  margin-block: auto;
}
.li_header{ 
  margin-block: auto;
  margin-left: 20px;
  font-family: 'Montserrat', bold;
}
.li_header:hover{
  text-decoration: underline;
  font-size: 110%;
}
a{
  text-decoration: none;
  color: black;
}
main{
  height: 700px;
  background-color: #818f8f;
  display: flex;
}
.index_grande{
  display: inline-block;
}
.index_chico{
  display: inline-flex;
  padding-left: 100px;
  margin-top: 40px; 
}
.titulo_miEducacion{
  display: flex;
  margin-top: 40px;
  margin-left: 60px;
}
.miEducacion{
  display: inline-block;
}
.elemento_lista_contacto{
  list-style-type: none;
  margin-left: 80px;
  font-family: 'Montserrat', bold;
}
.fotos_lista_contacto{
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-top: 20px;
}
.contacto_chico{
  margin-top: 20px;
  margin-left: 40px;
}